:root {
  --Text: #717171;
  --Black: #071D2E;
  --Accent: #FF637B;
  --White: #ffffff;
  --main-padding: clamp(3.75rem, 2.1569rem + 6.5359vw, 10rem);
  --main-margin: clamp(3.75rem, 2.1569rem + 6.5359vw, 10rem);
}

body {
  font-family: 'Montserrat', sans-serif;
}
main {
  display: block;
  padding-top: 40px;
  margin-bottom: var(--main-margin);
}
a.custom-logo-link {
  display: flex;
}

.container {
  padding-left: clamp(1rem, -1.1348rem + 8.7582vw, 9.375rem);
  padding-right: clamp(1rem, -1.1348rem + 8.7582vw, 9.375rem);
}

@media (max-width: 768px) {
  
  

}
